<% provide(:title, 'Home')%>
<h2>
<br/>Gemini is a web site where practicing lawyers can find, share and
request model legal documents.<br/><br/>Provide your contact to get the latest updates and participate in the private beta.
</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@interested_user) do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :name %>

      <%= f.label :"Email" %>
      <%= f.text_field :email %>

      <%= f.submit "Submit", :class=> "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to "Have an access code for the private beta? Create your account.", signup_path %>
  </div>
</div>
<h3></h3>