<% provide(:title, 'Home')%>
<h2>
<br/>Gemini is a web site where practicing lawyers can find, share and
request model legal documents.<br/><br/>Provide your contact info to find out more.
</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	    <%= render 'shared/error_messages' %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :"Washington State Bar Number" %>
      <%= f.text_field :barnumber %>

      <%= f.submit "Submit", :class=> "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>