<!DOCTYPE html>
<html>
<head>
  <title>Vizibid | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33187371-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
    <% if @home == true %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> offset2" style="margin-top: 45px; width: 610px;">
          <div><%= value %></div>
        </div>
      <% end %>
      <%= yield %>
      <%#= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>